ITMCServiceCenter.Web.BLL/Service References/ITMCServiceReference/ITMCService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ITMCServiceCenter.Web.Services/Services/ITMC/ITMCService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" />
  <xs:element name="AuthenticateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="userToAuthenticate" nillable="true" type="q1:tbl_UserMaster_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="AuthenticateUserResult" nillable="true" type="q2:ServiceResultOftbl_UserMaster_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByDesignationId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="designationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByDesignationIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetUsersByDesignationIdResult" nillable="true" type="q3:ServiceResultOfArrayOftbl_UserMaster_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByRoleId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByRoleIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetUsersByRoleIdResult" nillable="true" type="q4:ServiceResultOfArrayOftbl_UserMaster_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetUserByUserNameResult" nillable="true" type="q5:ServiceResultOftbl_UserMaster_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetUserResult" nillable="true" type="q6:ServiceResultOftbl_UserMaster_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetUsersResult" nillable="true" type="q7:ServiceResultOfArrayOftbl_UserMaster_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="tbl_UserMaster_DTO" nillable="true" type="q8:tbl_UserMaster_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="SaveUserResult" nillable="true" type="q9:ServiceResultOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="tbl_UserMaster_DTO" nillable="true" type="q10:tbl_UserMaster_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="UpdateUserResult" nillable="true" type="q11:ServiceResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="DeleteUserResult" nillable="true" type="q12:ServiceResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEngineers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="type" type="q13:Types" />
        <xs:element minOccurs="0" name="typeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEngineersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetEngineersResult" nillable="true" type="q14:ServiceResultOfArrayOftbl_Engineer_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEngineers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="newEngineers" nillable="true" type="q15:ArrayOftbl_Engineer_DTO" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="type" type="q16:Types" />
        <xs:element minOccurs="0" name="typeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEngineersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="SaveEngineersResult" nillable="true" type="q17:ServiceResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjects">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetProjectsResult" nillable="true" type="q18:ServiceResultOfArrayOftbl_Project_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetProjectResult" nillable="true" type="q19:ServiceResultOftbl_Project_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="tbl_Project_DTO" nillable="true" type="q20:tbl_Project_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="SaveProjectResult" nillable="true" type="q21:ServiceResultOfshort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="tbl_Project_DTO" nillable="true" type="q22:tbl_Project_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="UpdateProjectResult" nillable="true" type="q23:ServiceResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="DeleteProjectResult" nillable="true" type="q24:ServiceResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectDocuments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetProjectDocumentsResult" nillable="true" type="q25:ServiceResultOfArrayOftbl_ProjectDocument_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetProjectDocumentResult" nillable="true" type="q26:ServiceResultOftbl_ProjectDocument_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectDocumentByProjectId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectDocumentByProjectIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetProjectDocumentByProjectIdResult" nillable="true" type="q27:ServiceResultOfArrayOftbl_ProjectDocument_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectTasks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetProjectTasksResult" nillable="true" type="q28:ServiceResultOfArrayOftbl_ProjectTask_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetProjectTaskResult" nillable="true" type="q29:ServiceResultOftbl_ProjectTask_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectTaskByProjectId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectTaskByProjectIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetProjectTaskByProjectIdResult" nillable="true" type="q30:ServiceResultOfArrayOftbl_ProjectTask_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProjectTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="tbl_Project_DTO" nillable="true" type="q31:tbl_ProjectTask_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProjectTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="SaveProjectTaskResult" nillable="true" type="q32:ServiceResultOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProjectTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="tbl_Project_DTO" nillable="true" type="q33:tbl_ProjectTask_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProjectTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="UpdateProjectTaskResult" nillable="true" type="q34:ServiceResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProjectTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectTaskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProjectTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="DeleteProjectTaskResult" nillable="true" type="q35:ServiceResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectTaskActions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectTaskActionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetProjectTaskActionsResult" nillable="true" type="q36:ServiceResultOfArrayOftbl_ProjectTaskAction_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectTaskAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectTaskActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetProjectTaskActionResult" nillable="true" type="q37:ServiceResultOftbl_ProjectTaskAction_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectTaskActionByTaskId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectTaskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectTaskActionByTaskIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetProjectTaskActionByTaskIdResult" nillable="true" type="q38:ServiceResultOfArrayOftbl_ProjectTaskAction_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProjectTaskAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="actionDto" nillable="true" type="q39:tbl_ProjectTaskActionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProjectTaskActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="SaveProjectTaskActionResult" nillable="true" type="q40:ServiceResultOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectTaskDocuments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectTaskDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetProjectTaskDocumentsResult" nillable="true" type="q41:ServiceResultOfArrayOftbl_ProjectTaskDocument_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectTaskDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectTaskDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetProjectTaskDocumentResult" nillable="true" type="q42:ServiceResultOftbl_ProjectTaskDocument_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectTaskDocumentByProjectTaskId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectTaskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectTaskDocumentByProjectTaskIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetProjectTaskDocumentByProjectTaskIdResult" nillable="true" type="q43:ServiceResultOfArrayOftbl_ProjectTaskDocument_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProjectTaskType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="tbl_ProjectTaskType_DTO" nillable="true" type="q44:tbl_ProjectTaskType_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProjectTaskTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="SaveProjectTaskTypeResult" nillable="true" type="q45:ServiceResultOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangeRequestsByProjectId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangeRequestsByProjectIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetChangeRequestsByProjectIdResult" nillable="true" type="q46:ServiceResultOfArrayOftbl_ChangeRequest_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangeRequests">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangeRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetChangeRequestsResult" nillable="true" type="q47:ServiceResultOfArrayOftbl_ChangeRequest_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangeRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetChangeRequestResult" nillable="true" type="q48:ServiceResultOftbl_ChangeRequest_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChangeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="tbl_ChangeRequest_DTO" nillable="true" type="q49:tbl_ChangeRequest_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChangeRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="SaveChangeRequestResult" nillable="true" type="q50:ServiceResultOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChangeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="tbl_ChangeRequest_DTO" nillable="true" type="q51:tbl_ChangeRequest_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChangeRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="UpdateChangeRequestResult" nillable="true" type="q52:ServiceResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteChangeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="changeRequestId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteChangeRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="DeleteChangeRequestResult" nillable="true" type="q53:ServiceResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangeRequestActionsByRequestId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangeRequestActionsByRequestIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetChangeRequestActionsByRequestIdResult" nillable="true" type="q54:ServiceResultOfArrayOftbl_ChangeRequestAction_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangeRequestActions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangeRequestActionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetChangeRequestActionsResult" nillable="true" type="q55:ServiceResultOfArrayOftbl_ChangeRequestAction_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangeRequestAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangeRequestActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetChangeRequestActionResult" nillable="true" type="q56:ServiceResultOftbl_ChangeRequestAction_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChangeRequestAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="actionDto" nillable="true" type="q57:tbl_ChangeRequestActionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChangeRequestActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="SaveChangeRequestActionResult" nillable="true" type="q58:ServiceResultOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangeRequestDocumentsByRequestId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangeRequestDocumentsByRequestIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetChangeRequestDocumentsByRequestIdResult" nillable="true" type="q59:ServiceResultOfArrayOftbl_ChangeRequestDocument_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangeRequestDocuments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangeRequestDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetChangeRequestDocumentsResult" nillable="true" type="q60:ServiceResultOfArrayOftbl_ChangeRequestDocument_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangeRequestDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangeRequestDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetChangeRequestDocumentResult" nillable="true" type="q61:ServiceResultOftbl_ChangeRequestDocument_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceRequestsByProjectId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceRequestsByProjectIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetServiceRequestsByProjectIdResult" nillable="true" type="q62:ServiceResultOfArrayOftbl_ServiceRequest_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceRequests">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetServiceRequestsResult" nillable="true" type="q63:ServiceResultOfArrayOftbl_ServiceRequest_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetServiceRequestResult" nillable="true" type="q64:ServiceResultOftbl_ServiceRequest_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveServiceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="tbl_ServiceRequest_DTO" nillable="true" type="q65:tbl_ServiceRequest_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveServiceRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="SaveServiceRequestResult" nillable="true" type="q66:ServiceResultOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateServiceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="tbl_ServiceRequest_DTO" nillable="true" type="q67:tbl_ServiceRequest_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateServiceRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="UpdateServiceRequestResult" nillable="true" type="q68:ServiceResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteServiceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceRequestId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteServiceRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="DeleteServiceRequestResult" nillable="true" type="q69:ServiceResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceRequestActionsByRequestId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceRequestActionsByRequestIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetServiceRequestActionsByRequestIdResult" nillable="true" type="q70:ServiceResultOfArrayOftbl_ServiceRequestAction_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceRequestActions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceRequestActionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetServiceRequestActionsResult" nillable="true" type="q71:ServiceResultOfArrayOftbl_ServiceRequestAction_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceRequestAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceRequestActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetServiceRequestActionResult" nillable="true" type="q72:ServiceResultOftbl_ServiceRequestAction_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveServiceRequestAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="actionDto" nillable="true" type="q73:tbl_ServiceRequestActionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveServiceRequestActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="SaveServiceRequestActionResult" nillable="true" type="q74:ServiceResultOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceRequestDocumentsByRequestId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceRequestDocumentsByRequestIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetServiceRequestDocumentsByRequestIdResult" nillable="true" type="q75:ServiceResultOfArrayOftbl_ServiceRequestDocument_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceRequestDocuments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceRequestDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetServiceRequestDocumentsResult" nillable="true" type="q76:ServiceResultOfArrayOftbl_ServiceRequestDocument_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceRequestDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceRequestDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetServiceRequestDocumentResult" nillable="true" type="q77:ServiceResultOftbl_ServiceRequestDocument_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssuesByProjectId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssuesByProjectIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetIssuesByProjectIdResult" nillable="true" type="q78:ServiceResultOfArrayOftbl_IssueTracker_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssues">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetIssuesResult" nillable="true" type="q79:ServiceResultOfArrayOftbl_IssueTracker_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetIssueResult" nillable="true" type="q80:ServiceResultOftbl_IssueTracker_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveIssue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="tbl_Issue_DTO" nillable="true" type="q81:tbl_IssueTracker_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveIssueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="SaveIssueResult" nillable="true" type="q82:ServiceResultOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIssue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="tbl_Issue_DTO" nillable="true" type="q83:tbl_IssueTracker_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIssueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="UpdateIssueResult" nillable="true" type="q84:ServiceResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteIssue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issueId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteIssueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="DeleteIssueResult" nillable="true" type="q85:ServiceResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueActionsByIssueId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issueId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueActionsByIssueIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetIssueActionsByIssueIdResult" nillable="true" type="q86:ServiceResultOfArrayOftbl_IssueTrackerAction_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueActions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueActionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetIssueActionsResult" nillable="true" type="q87:ServiceResultOfArrayOftbl_IssueTrackerAction_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetIssueActionResult" nillable="true" type="q88:ServiceResultOftbl_IssueTrackerAction_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveIssueAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="actionDto" nillable="true" type="q89:tbl_IssueTrackerActionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveIssueActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="SaveIssueActionResult" nillable="true" type="q90:ServiceResultOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueDocumentsByIssueId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issueId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueDocumentsByIssueIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetIssueDocumentsByIssueIdResult" nillable="true" type="q91:ServiceResultOfArrayOftbl_IssueTrackerDocument_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueDocuments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetIssueDocumentsResult" nillable="true" type="q92:ServiceResultOfArrayOftbl_IssueTrackerDocument_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetIssueDocumentResult" nillable="true" type="q93:ServiceResultOftbl_IssueTrackerDocument_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncidents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncidentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetIncidentsResult" nillable="true" type="q94:ServiceResultOfArrayOftbl_Incident_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncident">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncidentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetIncidentResult" nillable="true" type="q95:ServiceResultOftbl_Incident_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncidentByProjectId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncidentByProjectIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetIncidentByProjectIdResult" nillable="true" type="q96:ServiceResultOfArrayOftbl_Incident_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveIncident">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="tbl_Incident_DTO" nillable="true" type="q97:tbl_Incident_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveIncidentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="SaveIncidentResult" nillable="true" type="q98:ServiceResultOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIncident">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="tbl_Incident_DTO" nillable="true" type="q99:tbl_Incident_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIncidentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="UpdateIncidentResult" nillable="true" type="q100:ServiceResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteIncident">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="incidentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteIncidentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="DeleteIncidentResult" nillable="true" type="q101:ServiceResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncidentActions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncidentActionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetIncidentActionsResult" nillable="true" type="q102:ServiceResultOfArrayOftbl_IncidentAction_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncidentAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncidentActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetIncidentActionResult" nillable="true" type="q103:ServiceResultOftbl_IncidentAction_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncidentActionByIncidentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="incidentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncidentActionByIncidentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetIncidentActionByIncidentIdResult" nillable="true" type="q104:ServiceResultOfArrayOftbl_IncidentAction_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveIncidentAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="actionDto" nillable="true" type="q105:tbl_IncidentActionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveIncidentActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="SaveIncidentActionResult" nillable="true" type="q106:ServiceResultOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncidentDocuments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncidentDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetIncidentDocumentsResult" nillable="true" type="q107:ServiceResultOfArrayOftbl_IncidentDocument_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncidentDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncidentDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetIncidentDocumentResult" nillable="true" type="q108:ServiceResultOftbl_IncidentDocument_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncidentDocumenByIncidentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="incidentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncidentDocumenByIncidentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetIncidentDocumenByIncidentIdResult" nillable="true" type="q109:ServiceResultOfArrayOftbl_IncidentDocument_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetClientsResult" nillable="true" type="q110:ServiceResultOfArrayOftbl_Client_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="tbl_Client_DTO" nillable="true" type="q111:tbl_Client_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="SaveClientResult" nillable="true" type="q112:ServiceResultOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="tbl_Client_DTO" nillable="true" type="q113:tbl_Client_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="UpdateClientResult" nillable="true" type="q114:ServiceResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="DeleteClientResult" nillable="true" type="q115:ServiceResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="entity" type="q116:Types" />
        <xs:element minOccurs="0" name="entityId" type="xs:int" />
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="type" type="q117:TeamType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetTeamResult" nillable="true" type="q118:ServiceResultOftbl_Team_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeams">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetTeamsResult" nillable="true" type="q119:ServiceResultOfArrayOftbl_Team_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTeamWithMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="tbl_Team_DTO" nillable="true" type="q120:tbl_Team_DTO" />
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="tbl_TeamMember_DTOList" nillable="true" type="q121:ArrayOftbl_TeamMember_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTeamWithMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="SaveTeamWithMembersResult" nillable="true" type="q122:ServiceResultOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="tbl_Team_DTO" nillable="true" type="q123:tbl_Team_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTeamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="UpdateTeamResult" nillable="true" type="q124:ServiceResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teamId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTeamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="DeleteTeamResult" nillable="true" type="q125:ServiceResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamMembersByTeamId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teamId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamMembersByTeamIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetTeamMembersByTeamIdResult" nillable="true" type="q126:ServiceResultOfArrayOftbl_TeamMember_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntitiesByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="entity" type="q127:Types" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntitiesByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetEntitiesByTypeResult" nillable="true" type="q128:ServiceResultOfArrayOftbl_Entity_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityByTeamType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="teamType" type="q129:TeamType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityByTeamTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetEntityByTeamTypeResult" nillable="true" type="q130:ServiceResultOftbl_Entity_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeByEnum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="entityEnum" type="q131:Types" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeByEnumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetTypeByEnumResult" nillable="true" type="q132:ServiceResultOftbl_TypeMaster_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProjectTaskTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProjectTaskTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetAllProjectTaskTypesResult" nillable="true" type="q133:ServiceResultOfArrayOftbl_ProjectTaskType_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectTaskTypesByProjectId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectTaskTypesByProjectIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetProjectTaskTypesByProjectIdResult" nillable="true" type="q134:ServiceResultOfArrayOftbl_ProjectTaskType_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectTaskTypeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectTaskTypeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/ITMCServiceCenter.Web.Domain" minOccurs="0" name="GetProjectTaskTypeByIdResult" nillable="true" type="q135:ServiceResultOftbl_ProjectTaskType_DTOl4F8SCOh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>